@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Titulo';
    src: url('fontes/ArnelRounded-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Texto';
    src: url(fontes/ComicNeueSansID.ttf) format('truetype'); 
}

header {
    text-align: center;
    background: black;
    color: white;
    padding: 20px 0;
    height: 15vw;
}

#titulo {
    font-family: 'Titulo', sans-serif;
    font-size: 10vw;
    font-weight: normal;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main {
    padding-top: 50px;
}

main p {
    font-family: 'Texto', sans-serif;
    font-size: 3.5vw;
    margin-left: 2vw;
    line-height: 1.9em;
    padding: 60px 0;
}

section {
    padding: 40px 0;
}

#branco1 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    box-shadow: inset 0px 0px 10px black;
}

#branco2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    box-shadow: inset 0px 0px 10px black;
}

.branco {
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 12px 8px;
    width: 45vw;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}

footer strong {
    font-weight: bold;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}