@charset "UTF-8";

body {
            font-family: Arial, sans-serif;
            background-color: rgb(240, 248, 255);
        }
        
        header {
            text-align: center;
            background-color: rgb(189, 216, 224);
            width: 500px;
            height: 80px;
            padding: 0px 10px;
            margin: 10px auto;
        }

        nav {
            background-color: rgb(150, 172, 179);
            margin-left: 50px;
            margin-right: 50px;
            box-shadow: 2px 2px 4px 1px #0000005e;
        }

        nav > a {
            text-decoration: none;
            font-weight: bold;
            margin-right: 20px;
        }

        nav > a:hover {
            text-decoration: underline;
        }

        main {
            background-color: rgb(208, 244, 255);
            margin: 8px;
            padding: 10px 10px;
            border-radius: 20px 0px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452);
        }

        section {
            margin-top: 3px;
            margin-bottom: 10px;
        }

        article {
            background-color: rgb(162, 233, 255);
            padding: 5px;
            text-align: justify;
        }

        article > aside {
            background-color: rgb(109, 186, 209);
            width: 240px;
        }

        footer {
            text-align: center;
            background-color: #000000;
            color: #ffffff;
            font-weight: bold;
            padding: 2px;
            margin: 0px 15px 0px 15px;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.452);
        }

        footer > p {
            margin: 0px;
        }

        .manchete {
            text-indent: 18px;
}